<ng-include src="'views/mainMenu.html'"></ng-include>
<h2>{{ vm.title }}</h2>

<form ng-class="(vm.formWasValidated) ? 'was-validated': ''" class="needs-validation" ng-submit="vm.sendForm()" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="fio">Название</label>
            <input ng-class="(vm.formModel.fio.valid) ? '': 'is-invalid'"  ng-model="vm.formModel.fio.value"
                   type="text" class="form-control" id="fio" ng-keyup="vm.validate()">
            <div ng-class="(vm.formModel.fio.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.fio.infoText}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="adress">Руководитель</label>
            <input ng-class="(vm.formModel.adress.valid) ? '': 'is-invalid'" ng-model="vm.formModel.adress.value"
                   type="text" class="form-control" id="adress" ng-keyup="vm.validate()">
            <div ng-class="(vm.formModel.adress.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.adress.infoText}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="doctor">Студент</label>
            <input ng-class="(vm.formModel.doctor.valid) ? '': 'is-invalid'" ng-model="vm.formModel.doctor.value"
                   ng-keyup="vm.validate()" type="text" class="form-control" id="doctor" value="ФИО">
            <div ng-class="(vm.formModel.doctor.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.doctor.infoText}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-4">
            <label for="snils">Группа</label>
            <input ng-class="(vm.formModel.snils.valid) ? '': 'is-invalid'" ng-model="vm.formModel.snils.value"
                   ng-keyup="vm.validate()" type="text" class="form-control" id="snils">
            <div ng-class="(vm.formModel.snils.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.snils.infoText}}
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <label for="passport">Специальность</label>
            <input ng-class="(vm.formModel.passport.valid) ? '': 'is-invalid'" ng-model="vm.formModel.passport.value"
                   ng-keyup="vm.validate()" type="text" class="form-control" id="passport" >
            <div ng-class="(vm.formModel.passport.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.passport.infoText}}
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <label for="datePosesh">Дата начала</label>
            <input ng-model="vm.formModel.datePosesh.value" type="date" class="form-control" id="datePosesh">
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
        <div class="col-md-2 mb-4">
            <label for="dateofbirth">Дата завершения</label>
            <input ng-model="vm.formModel.dateofbirth.value" type="date" class="form-control" id="dateofbirth">
<!--            <div class="valid-feedback">-->
<!--                Looks good!-->
<!--            </div>-->
        </div>
    </div>
    <button ng-disabled="!vm.formWasValidated" class="btn btn-primary" type="submit">Добавить</button>
</form>

<div ng-show="vm.error.length" class="alert alert-danger" role="alert">
    {{vm.error}}
</div>