<ng-include src="'views/mainMenu.html'"></ng-include>
<h2>{{ vm.title }}</h2>

<form ng-submit="vm.sendForm()" novalidate>
    <div class="form-row">
        <div class="col-12" ng-hide="vm.error.length">
            <h3>Действительно удалить посещение?</h3>
        </div>
    </div>
    <a class="btn btn-info" href="/#!/list">Отмена</a>
    <button ng-hide="vm.error.length" class="btn btn-danger" type="submit">Удалить</button>
</form>

<div ng-show="vm.error.length" class="alert alert-danger" role="alert">
    {{vm.error}}
</div>